* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* Common */
a {
    text-decoration: none;
}
.btn {
    min-width: 130px;
    --height: 56px;
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
/* header */
.header {
    padding-top: 32px;
    padding-bottom: 26px;
}
.logo {
    cursor: pointer;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
}
.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1;
    padding: 8px 16px;
}
.header-action__btn {
    --height: 50px;
    min-width: 117px;
}
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}
/* ======HERO===== */
.hero {
    margin-top: 86px;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor-img {
    z-index: -1;
    position: absolute;
}
.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    top: 16px;
    right: -44px;
}
.hero__img-wrap--small {
    background: #f8a3a9;
    width: 186px;
    height: 244px;
    align-self: flex-end;
    margin-left: -24px;
    margin-bottom: -58px;
    border: 2px solid #f7dddf;
}
.hero__media {
    display: flex;
}

.hero__img-small {
    max-width: 100%;
    max-height: 100%;
}
